window.xfce4-panel widget > box > button > image{
	padding: 0.2em 0.16em;
	-gtk-icon-transform: scale(0.8);
}

window#whiskermenu-window treeview>* {
	padding:0.2em 0.16em;
}

#xfce4-notification-plugin image {
	-gtk-icon-transform: scale(0.85) translateY(3px);
}
#pulseaudio-button image {
	-gtk-icon-transform: scale(0.9);
}
#xfce4-power-manager-plugin image {
	-gtk-icon-transform: scale(0.75);
}

VteTerminal, vte-terminal {
	padding: 13px;
}

/** GLOBAL PANEL CONFIG **/
.xfce4-panel {
	font-family: 'Balsamiq Sans';
	border-bottom: 1px solid black;
}

/** PANEL BUTTONS **/
.xfce4-panel button {
	font-family: 'Balsamiq Sans';
	color: grey;
	background: transparent;
	font-size: 13px;
	padding-left: 4px;
	padding-right: 4px;
	text-shadow: none;
}

.xfce4-panel button:checked {
        color: white;
	background: transparent; }

.xfce4-panel button:hover {
	background: transparent; color: white;
}

/** WINDOW BUTTONS **/
.tasklist button {
        font-family: 'Balsamiq Sans';
	font-size: 13px;
        margin-left: 5px;

}
.tasklist button:checked { box-shadow: none; }
.tasklist button:hover { }

/** CLOCK BUTTON **/
#clock-button {
	color: white;
}

/** PULSEAUDIO BUTTON **/
#pulseaudio-button {
	color: white;
}
