[General]
Show_Labels=false
val_fontsize=1
Lines_Size=2
Update_Interval=2
Number_Chips=4
str_fontsize=small

[Chip0]
Name=amdgpu-400
Number=0

[Chip0_Feature2]
Address=2
Name=edge
Color=#ffffff
Show=true
Min=0
Max=80

[Chip1]
Name=acpitz-0
Number=1

[Chip2]
Name=k10temp-c3
Number=2

[Chip3]
Name=ACPI
Number=3

